.Player1 {
    background: cadetblue;
    display: inline;
    position: relative;
    top: -250px;
}

canvas{
    background:olivedrab;
    border: 5pt solid black;
}



.Player2 {
    background:cadetblue;
    display: inline;
    position: relative;
    top: -250px;
}