.Player1 {
    background: cadetblue;
    display: inline;
    position: relative;
    top: -250px;
}

.board {
    background:olivedrab;
    border: 5pt solid black;
}

.restart{
    position: relative;
    top: -520px;
    left: -450px;
}

.dice{
    background: white;
    border: 2pt solid black;
    position: relative:
    top: -400px
}

.Player2 {
    background:cadetblue;
    display: inline;
    position: relative;
    top: -250px;
}